<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18767244360-mnjcal5gm60lgfkli4c7ennh5fiipljs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18767244360-mnjcal5gm60lgfkli4c7ennh5fiipljs</string>
	<key>API_KEY</key>
	<string>AIzaSyAVPIttGsu6AO4o8j4gAW2Z-W1AXLoZwwc</string>
	<key>GCM_SENDER_ID</key>
	<string>18767244360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payMaster.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pay-master-fea0a</string>
	<key>STORAGE_BUCKET</key>
	<string>pay-master-fea0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18767244360:ios:9a4943e2e6d06d5b40bc7d</string>
</dict>
</plist>